.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 8rem;
  padding-bottom: 8rem;

  p {
    font-size: $font-size-base * 1.5;
  }
}
