@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$blue: #3ca9f1;
$gray-100: #eaeaee;
$gray-200: #e6e6e6;
$gray-700: #444;

$primary: $blue;
$light: $gray-100;
$dark: $gray-700;

$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$enable-responsive-font-sizes: true;

$line-height-lg: 1.6;
$line-height-sm: 1.2;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.8125;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.125;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base * 0.875;
$h6-font-size: $font-size-base * 0.8125;

$navbar-light-active-color: $primary;

$input-btn-font-size: $font-size-sm;
$input-bg: $gray-200;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.75,
  9: $spacer * 4,
  10: $spacer * 4.375,
);

// Bootstrap Base @import
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/utilities";

// Bootstrap Components
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/jumbotron";

$card-border-color: $card-bg;
$card-border-radius: 0;
$card-inner-border-radius: 0;
@import "../node_modules/bootstrap/scss/card";

@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";

// Custom components
@import "type";
@import "header";
@import "hero";
